<!DOCTYPE html>
<html>
  <body>
    <h1> Order Approved </h1>
    <p>Hello {{userName}},</p>
    <p>Your order # {{orderId}} has been approved successfully!</p>
    <p>Thank you for shopping </p>
  </body>
</html>


